doctype html
html(lang="en")
  head
    title Pagina en Jade
    meta(charset="utf-8")

    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/stylePageJade.min.css")
    link(rel="stylesheet", href="css/animate.css")

    




    
  body
      section(class="full-height text-center" id="main-content")
        div(class="data")
          //-:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
          div(class="col-md-12 center-block no-float top-space")
            h1(class="cargando big green animated tada delay-1") Cargando...



    

      script(type='text/javascript') 
  footer
    