doctype html
html(lang="en")
  head
    title Pagina en Jade
    meta(charset="utf-8")

    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/stylePageJade.min.css")
    link(rel="stylesheet", href="css/animate.css")




    
  body
      section(class="full-height text-center" id="main-content")
        //nav(class="navbar navbar-default navbar-fixed-top")
        div(class="data")
          //-:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
          div(class="col-md-6 center-block no-float top-space")
            img(src="images/1.png" class="animated fadeInLeft")
            h1(class="camisaImg big green animated fadeInRight delay-1") t shirt Continental hope Men
          //-:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
          div(class="col-md-6 center-block no-float top-space")
            img(src="images/1.png" class="animated fadeInRight")
            h1(class="camisaImg big green animated fadeInLeft delay-1") t shirt Continental hope Women

          //-:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
          
      section(class="textoFull text-center" id="second-container")
          div(class="data_2")
            div(class="col-md-12")
              h4(class="textMain animated tada delay-2") The tshirt again global change 
              img(src="images/world.png" class="world") 
              nav
                a(href="menu.html" class="right-space") Menú
                a(href="menu.html" class="right-space") Contacto
                a(href="menu.html" class="right-space") Acerca de

    

      script(src="js/boostrap.min.js" type='text/javascript') 
  footer
    